<div class="form-group" [formGroup] = "form">
  <label for="Nome">Nome Do Vendedor</label>
  <input type="text" class="form-control" id="nome" placeholder="Nome Do Vendedor" formControlName="nome">
  <small class="text-danger" *ngIf="form.invalid">Nome obrigatorio</small>
</div>
<p></p>
<p></p>
<button type="submit" class="btn btn-outline-success" [disabled]="form.invalid" (click)="adicionarVendedor()">Salvar</button>
{{''}}
<button type="button" class="btn btn-danger" (click)="voltar()">Cancelar</button>
