<form>
  <div class="form-group" [formGroup]="form">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Descricao">Descrição</label>
        <input type="text" class="form-control" id="descricao" placeholder="Descrição" formControlName="descricao">
      </div>
      <div class="form-group col-md-6">
        <label for="Observacao">Observação</label>
        <input type="text" class="form-control" id="observacao" placeholder="Observação" formControlName="observacao">
      </div>
      <div class="form-group col-md-6">
        <label for="Quantidade">Quantidade</label>
        <input type="number" class="form-control" id="quantidade" placeholder="Quantidade" formControlName="quantidade">
      </div>
      <div class="form-group col-md-6">
        <label for="PrecoCompra">Preço de Compra</label>
        <input type="number" class="form-control" id="precoCusto" placeholder="Preço de Compra"
          formControlName="precoCusto">
      </div>
      <div class="form-group col-md-6">
        <label for="PrecoVenda">Preço de Venda</label>
        <input type="number" class="form-control" id="precoVenda" placeholder="Preço de Venda"
          formControlName="precoVenda">
      </div>
      <div class="form-group col-md-6">
        <label for="Categoria">Categoria</label>
        <input type="number" class="form-control" id="categoria" placeholder="CodigoCategoria" formControlName="codigoCategoria">
      </div>
    </div>
  </div>
</form>
<button type="submit" class="btn btn-outline-success" [disabled]="form.invalid"
  (click)="adicionarProduto()">Salvar</button>
{{''}}
<button type="button" class="btn btn-danger" (click)="voltar()">Cancelar</button>
