<div class="float-right">
  <a routerLink="formulario"><button type="button" class="btn btn-secondary">Novo Vendedor</button></a>
  <p></p>
  <p></p>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Vendedores</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vendedor of vendedor">
        <td>{{ vendedor.codigo}} </td>
        <td>{{ vendedor.nome}} </td>
        <td>
        <span class="float-right">
          <button class="btn btn-outline-warning mb-1 btn-sm" (click)="atualizarVendedor(vendedor.codigo!)">
            Atualizar
          </button>
            {{''}}
          <button class="btn btn-outline-danger mb-1 btn-sm "(click)="deletarVendedor(vendedor)">
            Remover
          </button>
        </span>
      </td>
      </tr>
    </tbody>
  </table>
