
<div class="float-right">
  <a routerLink="formulario"><button type="button" class="btn btn-secondary">Novo Cliente</button></a>
  <p></p>
  <p></p>



<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cliente</th>
      <th scope="col">Telefone</th>
      <th scope="col">Ativo</th>
      <th scope="col">Logradouro</th>
      <th scope="col">Número</th>
      <th scope="col">Complemento</th>
      <th scope="col">Bairro</th>
      <th scope="col">CEP</th>
      <th scope="col">Cidade</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of cliente">
      <td>{{ cliente.codigo}} </td>
      <td>{{ cliente.nome}} </td>
      <td>{{ cliente.telefone}} </td>
      <td>{{ cliente.ativo}} </td>
      <td>{{ cliente.enderecoDto.logradouro}} </td>
      <td>{{ cliente.enderecoDto?.numero}} </td>
      <td>{{ cliente.enderecoDto?.complemento}} </td>
      <td>{{ cliente.enderecoDto?.bairro}} </td>
      <td>{{ cliente.enderecoDto?.cep}} </td>
      <td>{{ cliente.enderecoDto?.cidade}} </td>
      <td>{{ cliente.enderecoDto?.estado}} </td>
    </tr>
  </tbody>
</table>
