
<div class="float-right">
  <a routerLink="formulario"><button type="button" class="btn btn-secondary">Novo Cliente</button></a>
  <p></p>
  <p></p>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cliente</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of cliente">
      <td>{{ cliente.codigo}} </td>
      <td>{{ cliente.nome}} </td>
      <td>
        <span class="float-right">
        <button class="btn btn-outline-info mb-1 btn-sm" (click)="detalheCliente(cliente.codigo!)">
          Detalhe
        </button>
          {{''}}
        <button class="btn btn-outline-warning mb-1 btn-sm" (click)="atualizarCliente(cliente.codigo!)">
          Atualizar
        </button>
          {{''}}
        <button class="btn btn-outline-danger mb-1 btn-sm "  (click)="deletarCliente(cliente)">
          Remover
        </button>
        </span>
      </td>
    </tr>
  </tbody>
</table>
