<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="">Gestão de Vendas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active">Home<span class="sr-only">(Página atual)</span></a>
      <a routerLink="/cliente" class="nav-item nav-link">Cliente</a>
      <a routerLink="/categoria" class="nav-item nav-link">Categoria</a>
      <a routerLink="/produto" class="nav-item nav-link">Produto</a>

    </div>
  </div>
</nav>
<p>
</p>
<p>
</p>
<div class="container">
  <router-outlet></router-outlet>
</div>

