<div class="float-right">
<a routerLink="formulario"><button type="button" class="btn btn-secondary">Nova Categoria</button></a>
<p></p>
<p></p>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Categorias</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of categoria">
      <td>{{ categoria.codigo}} </td>
      <td>{{ categoria.nome}} </td>
      <td>
      <span class="float-right">
        <button class="btn btn-outline-warning mb-1 btn-sm" (click)="atualizarCategoria(categoria.codigo!)">
          Atualizar
        </button>
          {{''}}
        <button class="btn btn-outline-danger mb-1 btn-sm " (click)="deletarCategoria(categoria)">
          Remover
        </button>
      </span>
    </td>
    </tr>
  </tbody>
</table>
