<div class="float-right">
  <a routerLink="formulario"><button type="button" class="btn btn-secondary">Nova Venda</button></a>
  <p></p>
  <p></p>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Vendedor</th>
      <th scope="col">Cliente</th>
      <th scope="col">Data Da Venda</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let venda of venda">
      <td>{{ venda.codigo}} </td>
      <td>{{ venda.nomeVendedor}} </td>
      <td>{{ venda.nomeCliente}} </td>
      <td>{{ venda.data}}</td>

      <td>
        <span class="float-right">

        <button class="btn btn-outline-info mb-1 btn-sm" (click)="detalheVenda(venda.codigo!)">
          Detalhe
        </button>
          {{''}}
        <button class="btn btn-outline-warning mb-1 btn-sm">
          Atualizar
        </button>
          {{''}}
        <button class="btn btn-outline-danger mb-1 btn-sm " (click)="deletarVenda(venda)">
          Remover
        </button>
        </span>
      </td>
    </tr>
  </tbody>
</table>